#addon_ab__extended_cartinstalled .bg-icon, #addon_ab__extended_cart .bg-icon {
  background-size: contain;
  background: transparent url('../../../media/images/addons/ab__fast_navigation/logo.png') no-repeat center;
  border: none;
}
#addon_ab__extended_cart .bg-icon i, #addon_ab__extended_cart .bg-icon i { display: none; }

/*.bmicon-ab--fast-navigation {
  background: transparent url('../../../media/images/addons/ab__fast_navigation/logo.png') no-repeat 0 2px;
  background-size: contain;
}
.block-header .bmicon-ab--fast-navigation {
  background-position: 0 0;
}*/